@font-face {
    font-family: 'Aileron-Bold';
    src: url('../fonts/Aileron-Bold-webfont.woff') format('woff')
}
@font-face {
    font-family: 'Aileron-LightItalic';
    src: url('../fonts/Aileron-LightItalic-webfont.woff') format('woff')
}
@font-face {
    font-family: 'Aileron-Thin';
    src: url('../fonts/Aileron-Thin-webfont.woff') format('woff')
}
body {
    font-family: Libre Baskervill;
    background-color: #ECEDED;
}
span {
    font-family: Aileron-LightItalic;
}
h3 {
    padding: 1rem;
}

h1 {
    color: #BABDBD;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
    font-family: Aileron-Bold;
    font-size: 1.6rem;
}

footer {
    margin-top: 1rem;
    background-color: #425E7A;
    color: #BABDBD;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
    font-family: 'Crimson Text', serif;

}
.tab-pane {
    padding: .8rem;
    background-color: #425E7A;
    color: #ECEDED;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
}
#logo-text {
    background-color: #425E7A;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
    
}
.nav-link {
    margin: 0;
    padding: .3rem;
    font-family: Aileron-Thin;
}
.nav-tabs {
    margin-top: .8rem;
}
.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    background-color: #BABDBD;
    
    margin-right: .25em;
    margin-left: .25em;
}
address {
    padding: .1rem;
}
footer p {
    margin: .01rem;
}
img {
    max-height: 7rem;
    position: relative;
}
#logo {
    margin-bottom: -1.75rem;
    z-index: 1000 !important;
}
nav a {
    font-weight: bold;
    color: white;
    font-size: .8rem;
}
.nav-tabs .nav-link.active { 
    font-size: 1rem;
    background-color: white;
    font-weight: bold;

}
.nav-link:hover {
    color: #425E7A;
}
footer {
    font-size: .8em;
    padding: 0 auto;
}
@media (min-width: 340px) and (max-width: 411px) {
    nav a {
        font-size: 1rem;
    }
    .nav-tabs .nav-link.active { 
        font-size: 1.1rem !important;
    }
    img {
        max-height: 10rem;
     }
     #logo {
        margin-bottom: -2.45rem;
     }
     h1 {
        font-size: 1.9rem !important;
    }
}

@media (min-width: 360px){
    nav a {
        font-size: .9rem;
    }
    h1 {
        font-size: 2.1rem;
    }
    .nav-tabs .nav-link.active { 
        font-size: 1.22rem !important;
    }
    .tab-pane, .tab-pane p {
        font-size: 1.2rem;
        padding: .5rem;
    }

}
@media (min-width: 415px) {
    nav a {
        font-size: 1.17rem;
        padding-left: .2rem !important;
        padding-right: .2rem !important;
    }
    h1 {
        font-size: 2.25rem;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    nav a {
        font-size: 1.20rem;
        padding-left: .8rem !important;
        padding-right: .8rem !important;
    }
    h1 {
        font-size: 2.9rem;
    }
 }

@media (min-width: 768px)  and (max-width: 989px) {
    nav a {
        font-size: 1.4rem;
        padding-left: 1.4rem !important;
        padding-right: 1.4rem !important;
    } 
    .nav-tabs .nav-link.active { 
        font-size: 2.1rem !important;
    }
    h1 {
         font-size: 3.8rem;  
     }
     h3{
         font-size: 2.5rem;
         padding: 1.8rem;
     }
     footer {
         font-size: 1.8rem;
     }
     img {
        max-height: 15rem;
     }
     #logo {
        margin-bottom: -3.6rem;
     }
    .tab-pane p {
        font-size: 1.8rem;
        padding: 1rem;
     }
     address {
         font-size: 1.8rem;
         padding: 1rem;
     }

 }

 @media (min-width: 992px) {

    nav a {
        font-size: 2rem;
        padding-left: 1.6rem !important;
        padding-right: 1.6rem !important;
    } 
    h1 {
        font-size: 5rem;  
    } 
    h3 {
        font-size: 3rem;
    }
    img {
         max-height: 18rem;
     }
     #logo {
        margin-bottom: -4.4rem;
     }
     .nav-tabs .nav-link.active { 
        font-size: 2.4rem !important;
    }
    .tab-pane, .tab-pane p {
        font-size: 2rem;
        padding: 1rem;
    }
    footer {
        font-size: 1.5rem;
    }
 }
